
body {
  height: 100%;
  margin: 0;
  background-color: #F5F5F5;
  color: #727272;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #222;
  margin: 0 0 10px;
  text-rendering: optimizelegibility; /*Fix the character spacing for headings*/
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
  line-height: 22px;
  font-weight: 500;
}
h1 span {
  color: #fff;
  font-size: 20px;
}

h2 {
  color: #393939;
  font-size: 24px;
}
h2 svg,
h2 span {
  vertical-align: top;
}
h2 svg {
  display: inline-block;
  padding-top: 2px;
}
h2 span {
  text-shadow: #ddd 2px 2px 2px;
}

h3, h4, h5, h6 {
  color: #494949;
}

a {
  color: #39c;
  text-decoration: none;
}
a:hover {
  color: #069;
  text-decoration: underline;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background:  #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x:  auto;
}

strong {
  color: #222;
  font-weight: 700;
}

em {
  font-style: italic;
}

small {
  font-size: 11px;
}

cite {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%; /*Make images inherently responsive*/
  vertical-align: inherit;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

button.btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #eee;
  border: none;
  border-radius: 3px;
  padding: 2px;
}
button .fa {
  font-size: 13px;
  color: #777;
  pointer-events: none;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  padding: 10px 10px 10px 12px;
  box-sizing: border-box;
  border-bottom: 4px solid #E61718;
  background-color: #545454;
  background: -moz-linear-gradient(top,#545454 0%,#222222 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#545454),color-stop(100%,#222));
  background: -webkit-linear-gradient(top,#545454 0%,#222 100%);
  background: -o-linear-gradient(top,#545454 0%,#222222 100%);
  background: -ms-linear-gradient(top,#545454 0%,#222222 100%);
  background: linear-gradient(to bottom,#545454 0%,#222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454',endColorstr='#222222',GradientType=0);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}


/* Unordered and Ordered lists*/
ul, ol {
  padding: 0;
}
li {
  line-height: 18px;
}

/*Description Lists*/
dl {
  margin-bottom: 18px;
}
dt,
dd {
  line-height: 18px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 9px;
}

nav {
  -webkit-font-smoothing: subpixel-antialiased;
}

nav ul {
  list-style: none;
  height: 40px;
  padding: 0;
  background:  #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
  background-color: #FcFcFc;
}

nav li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}

nav li: first-child a {
  border-radius: 5px 0 0 5px;
}

nav li: last-child a {
  border-radius: 0 5px 5px 0;
}

nav ul a {
  line-height: 1;
  font-size: 11px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

nav ul a:hover {
  color: #999;
}

nav ul a:active {
  background-color: #f0f0f0;
}

nav ul li + li + li {
  border-right: none;
  width: 89px;
}

nav ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

footer {
  position: fixed;
  float: left;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 62px;
  padding: 10px 10px 0px;
  box-sizing: border-box;
  overflow: auto;
  color: #B4B4B4;
  -webkit-font-smoothing: subpixel-antialiased;

  background-color: #2B2B2B;
  background-image: linear-gradient(to bottom,#2E2E2E,#262626);
  background-image: -moz-linear-gradient(top,#2e2e2e,#262626);
  background-image: -ms-linear-gradient(top,#2e2e2e,#262626);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#2E2E2E),to(#262626));
  background-image: -webkit-linear-gradient(top,#2E2E2E,#262626);
  background-image: -o-linear-gradient(top,#2e2e2e,#262626);
  background-image: linear-gradient(top,#2e2e2e,#262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e',endColorstr='#262626',GradientType=0);
}
footer p {
  margin-bottom: 10px;
}

.index {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 40px 70px;
  box-sizing: border-box;
}
.index nav {
  width: 270px;
  float: left;
}
.index section {
  width: 479px;
  float: right;
  padding: 0 0 0 40px;
  border: 1px solid #e5e5e5;
  border-width: 0 0 0 1px;
}


@media print, screen and (max-width: 960px) {
  .index {
    width: auto;
    margin: 0;
    position: relative;
  }

  .index nav,
  .index section {
    float: none;
    position: relative;
    width: auto;
  }

  .index nav {
    padding-right: 320px;
  }

  .index section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0 62px;
    clear: both;
  }

  .index nav a small {
    display: inline;
  }

  .index nav ul {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 0 20px;
  }
  .index section ul {
    margin: 0 0 20px 16px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  pre, code {
    word-wrap: normal;
  }

  .index {
    padding: 60px 12px 0;
  }

  .index nav {
    padding: 0;
  }

  .index nav ul,
  .index nav p.view {
    position: static;
  }
}

@media print, screen and (max-width: 480px) {
  .index {
    padding: 60px 12px 0;
  }

  .index nav ul {
    width: 99%;
  }

  .index nav li, .index nav ul li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
