*.sublime-*
.DS_Store
node_modules
npm-debug.log
d3-sugar.*
package.backup.json
.coverage
coverage/
examples/css/sucrose.*
examples/data/geo/natural_earth
examples/js/d3.*
examples/js/jquery.*
examples/js/jquerymy.*
examples/js/less.*
examples/js/sucrose.*
test/fixtures/build
presentations
