/**********
*  Bars
*/

.sc-bars .negative rect {
  cursor: pointer;
}

.sc-bars rect {
  cursor: pointer;
  fill-opacity: 0.75;
}

.sc-bars rect:hover {
  fill-opacity: 1;
}

.sc-bars .hover rect {
  fill: lightblue;
}

.sc-bars text {
  fill: rgba(0, 0, 0, 0);
}

.sc-bars .hover text {
  fill: rgba(0, 0, 0, 1);
}
