/**********
*  Brush
*/

.sc-brush .extent {
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}

.sc-brush .resize path {
  fill: #eee;
  stroke: #666;
}

.sc-brush .extent {
  fill-opacity: 0 !important;
}

.sc-brushBackground rect {
  stroke: @black;
  stroke-width: 0.4;
  fill: @white;
  fill-opacity: 0.7;
}
