/**********
* Funnel
*/

.sc-chart-funnel {
  .sc-slice.hover polygon {
    fill-opacity: 0.75;
  }

  polyline.sc-label-leader {
    stroke-width: 1px;
    pointer-events: none;
  }

  .sc-label-value {
    text.sc-label {
      font-size: @fontSizeSmall;
    }

    text.sc-value {
      font-size: @fontSizeMedium;
    }
  }
}
