/**********
* Globe
*/
.sc-chart-globe {
  svg {
    pointer-events: all;
  }

  .sc-chart-background {
    fill: #555;
  }

  .sphere {
    fill: #dbe4f0;
    stroke: #dbe4f0;
    stroke-width: 1px;
  }

  .graticule {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-opacity: 0.6;
    pointer-events: none;
  }

  .countries {
    fill: #aaa;
  }

  .countries path {
    stroke: @white;
  }

  .states path {
    fill: #ccc;
    stroke: @white;
  }
}
