/**********
* Globe
*/
.sc-chart-globe {
  svg {
    pointer-events: all;
  }
  .sc-chart-background {
    fill: #555;
  }
  .sphere {
    fill: #DBE4F0;
    stroke: #DBE4F0;
    stroke-width: 1px;
  }
  .graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .6;
    pointer-events: none;
  }
  .countries {
    fill: #AAA;
  }
  .countries path {
    stroke: @white;
  }
  .states path {
    fill: #CCC;
    stroke: @white;
  }
}
