/**********
* Lines
*/

.sc-group path.sc-line {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  shape-rendering: geometricPrecision;
}

.sc-group path.sc-area {
  stroke: none;
  stroke-linecap: round;
  shape-rendering: geometricPrecision;
}

.sc-line .sc-scatter .sc-series .sc-point {
  stroke-opacity: 1;
  stroke: #fff;
  fill-opacity: 1;
}

.sc-scatter.sc-single-point .sc-series .sc-point {
  stroke-width: 2px;
}

// still needed?
.sc-line.hover path {
  stroke-width: 6px;
}

// makes the outer ring effect
.sc-scatter .sc-series .sc-point.hover,
.sc-series .sc-point.hover {
  stroke-opacity: ~".3 !important";
  stroke: inherit;
}

.sc-point-paths path {
  stroke: transparent;
  stroke-opacity: 0;
  fill: #fff;
  fill-opacity: 0;
}

.sc-indexLine {
  cursor: ew-resize;
}
