/**********
*  MultiBars
*/

.sc-multibar .sc-bar {
  rect {
    stroke-opacity: 1;
    stroke-width: 2px;
    stroke: @white;

    &:hover {
      fill-opacity: 0.75;
    }
  }

  text {
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 0);
    pointer-events: none;
  }
}
