/***********
*  Pie Chart
*/

.sc-pie {
  .sc-slice.hover path.sc-base {
    fill-opacity: .7;
  }
  .sc-inactive path.sc-base {
    fill-opacity: 0.5;
  }
  .sc-inactive:hover path.sc-base {
    fill-opacity: 0.75;
  }
}

.sc-holeWrap text{
  text-anchor: middle;
}
text.sc-pie-hole-value {
  font-size: 32px;
  font-weight: bold;
}
text.sc-pie-hole-label {
  font-size: 11px;
}
