/**********
* Sparkline plus
*/

.sc-sparklineplus .sc-hoverValue line {
  stroke: #f44;
  stroke-width: 1.5px;
}

.sc-sparklineplus,
.sc-sparklineplus g {
  pointer-events: all;
}

.sc-hoverArea {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.sc-sparklineplus .sc-xValue,
.sc-sparklineplus .sc-yValue {
  stroke: #666;
  font-size: 0.5em;
  font-weight: normal;
}

.sc-sparklineplus .sc-yValue {
  stroke: #f66;
}
