/**********
 *  General
 */

// Chart colors defined in colors.less

.sc-background {
  fill: @white;
}

.sc-chart-background {
  fill: transparent;
  stroke-width: 0.5px;
  stroke: @grayLight;
}

.sc-chart {
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
}

.sc-image-canvas {
  visibility: hidden;
  position: absolute;
  left: -10000px;
}

/**********
 *  SVG
 */
svg.sc-chart,
.sc-chart svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;

  text {
    font-style: normal;
    font-size: @chartTextSize;
    font-family: @sansFontFamily;
    fill: @textColor;
    stroke: none;
    cursor: default;
  }

  text.sc-noData {
    font-size: @fontSizeLarge;
    font-weight: bold;
  }

  text.sc-title {
    font-size: @fontSizeMedium;
    // font: bold @fontSizeMedium @sansFontFamily;
  }

  .sc-labels text {
    font-weight: bold;
    fill: #666;
  }

  .sc-label-value text,
  text.sc-label-value {
    font-size: @fontSizeMedium;
  }

  .sc-label-box {
    fill: transparent;
  }

  .calc-text-strings {
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 0);
    pointer-events: none;
  }
}

/**********
*  Texture
*/

.sc-texture {
  fill-opacity: 0 !important;
  pointer-events: none;
}

.texture-line {
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

.sc-active {
  .sc-texture {
    fill-opacity: 1 !important;
  }

  .sc-label-box {
    fill: inherit;
  }
}

.sc-inactive {
  .sc-texture {
    fill-opacity: 0 !important;
  }
}
