@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src:
    url('@{font-path}/opensans-italic.woff2') format('woff2'),
    url('@{font-path}/opensans-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src:
    url('@{font-path}/opensans-bold-italic.woff2') format('woff2'),
    url('@{font-path}/opensans-bold-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('@{font-path}/opensans.woff2') format('woff2'),
    url('@{font-path}/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('@{font-path}/opensans-bold.woff2') format('woff2'),
    url('@{font-path}/opensans-bold.woff') format('woff');
}

/* Additional supported languages */

/* Cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('@{font-path}/opensans-cyrillic.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('@{font-path}/opensans-bold-cyrillic.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('@{font-path}/opensans-bold-italic-cyrillic.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('@{font-path}/opensans-italic-cyrillic.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('@{font-path}/opensans-greek.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('@{font-path}/opensans-bold-greek.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('@{font-path}/opensans-bold-italic-greek.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('@{font-path}/opensans-italic-greek.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
