// Variables
// @import "fixed_variables.less";

// Variables to customize the look and feel of Sucrose
// ---------------------------------------------------

// Primary Color:
// 3 pixel line on the navbar
// -------------------------
@BorderColor:           #E61718;

// Secondary Color:
// color of the navbar
// -------------------------
@NavigationBar:         #282828;

// Primary Button Color:
// color of the primary button
// -------------------------
@PrimaryButton:         #176de5;


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #111;
@grayDark:              #222;
@gray:                  #555;
@grayLight:             #717171;
@grayLighter:           #f6f6f6;
@white:                 #fff;
@transparent:           rgba(0,0,0,0);

// Accent colors (auto)
// For @color values we spin based off the @BorderColor from the theme
// to keep consistent to a single brand set.
// You can replace with your own hex colors if you desire.
// -------------------------------------------------------------
@color0:                @BorderColor;
@color1:                spin(@BorderColor, 20);
@color2:                spin(@BorderColor, 40);
@color3:                spin(@BorderColor, 60);
@color4:                spin(@BorderColor, 80);
@color5:                spin(@BorderColor, 100);
@color6:                spin(@BorderColor, 120);
@color7:                spin(@BorderColor, 160);
@color8:                spin(@BorderColor, -160);
@color9:                spin(@BorderColor, -140);
@color10:               spin(@BorderColor, -120);
@color11:               spin(@BorderColor, -100);
@color12:               spin(@BorderColor, -80);
@color13:               spin(@BorderColor, -60);
@color14:               spin(@BorderColor, -40);
@color15:               spin(@BorderColor, -20);

// Accent colors (defined)
// -------------------------------------------------------------
@mint:                  #0d8046;
@green:                 #33800d;
@army:                  #6a800d;
@yellow:                #e5a117;
@orange:                #cc3314;
@red:                   #e61718;
@pink:                  #e5176d;
@purple:                #6d17e5;
@night:                 #1f12b3;
@blue:                  #176de5;
@ocean:                 #1378bf;
@pacific:               #0f7799;
@teal:                  #0d806c;
@coral:                 #ff6fcf;
@goldenRod:             #e5a117;
@wheat:                 #f5d9a0;


// Default chart fill colors
// -------------------------
@fill00:                @red;
@fill01:                @orange;
@fill02:                @yellow;
@fill03:                @army;
@fill04:                @green;
@fill05:                @mint;
@fill06:                @teal;
@fill07:                @pacific;
@fill08:                @ocean;
@fill09:                @blue;
@fill10:                @night;
@fill11:                @purple;
@fill12:                @pink;
@fill13:                @coral;

// Default chart stroke colors
// -------------------------
@stroke00:              @red;
@stroke01:              @orange;
@stroke02:              @yellow;
@stroke03:              @army;
@stroke04:              @green;
@stroke05:              @mint;
@stroke06:              @teal;
@stroke07:              @pacific;
@stroke08:              @ocean;
@stroke09:              @gray;
@stroke10:              @night;
@stroke11:              @purple;
@stroke12:              @pink;
@stroke13:              @coral;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @gray;

// Links
// -------------------------
@linkColor:             @PrimaryButton;
@linkColorHover:        darken(@linkColor, 10%);

// Typography
// -------------------------
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize:          12px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        18px;

// Component font sizing
// -------------------------

@fontSizeHeader:        (@baseFontSize + 3px); // 15px
@fontSizeLarge:         (@baseFontSize + 3px); // 15px
@fontSizeMedium:        (@baseFontSize + 1px); // 13px
@fontSizeSmall:         (@baseFontSize - 1px); // 11px
@fontSizeMini:          (@baseFontSize - 2px); // 10px

@chartTextSize:         @fontSizeSmall;
@chartTickColor:        @grayLight;
@chartTickWidth:        1px;

// Tooltips and popovers
// -------------------------
@tooltipColor:          @white;
@tooltipBackground:     @black;
@tooltipArrowWidth:     5px;
@tooltipArrowColor:     @tooltipBackground;
@zindexTooltip:         1070;
@baseBorderRadius:      3px;
